/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100%;
  background: url("../img/background.jpg") center 40px no-repeat fixed;
  background-size: cover;
  color: #daad2e;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.hide {
  display: none;
}
nav {
  position: fixed;
  display: flex;
  min-height: 45px;
  width: 100%;
  background-color: #942603;
  justify-content: space-around;
  z-index: 1000;
}
nav ul {
  display: flex;
  width: 500px;
}
@media only screen and (max-width: 1100px) {
  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
nav ul li {
  font-size: 1.3rem;
  text-align: center;
  flex-grow: 1;
  display: flex;
}
@media only screen and (max-width: 1100px) {
  nav ul li {
    width: 100%;
  }
}
nav ul li a {
  width: 100%;
  padding: 10px 0;
  color: #daad2e;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: #daad2e;
  color: #942603;
}
h1 {
  font-size: 8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 1.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
p {
  font-size: 1.2rem;
}
.divider {
  height: 1px;
  background-color: #c25805;
}
.container {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  min-height: 200px;
  width: 1100px;
  margin: auto;
  background-color: rgba(51, 51, 51, 0.8);
  padding: 0 50px;
}
@media only screen and (max-width: 1100px) {
  .container {
    width: 100%;
  }
}
.container header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding-top: 220px;
  text-align: center;
}
@media only screen and (max-width: 1100px) {
  .container header {
    padding-top: 320px;
  }
}
.container header .divider {
  margin: 20px 120px 30px;
}
.container header h4 span {
  line-height: 4.5rem;
  vertical-align: top;
}
.container header h4 i {
  font-size: 4rem;
  padding-right: 20px;
  line-height: 4.5rem;
  margin-right: 30px;
  border-right: 1px solid #daad2e;
}
.container section {
  min-height: 88vh;
}
.container section h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.container section.about-section {
  position: relative;
}
.container section.about-section img {
  position: absolute;
  height: 910px;
  bottom: 0;
  left: -50px;
}
@media only screen and (max-width: 1100px) {
  .container section.about-section img {
    height: 500px;
  }
}
@media only screen and (max-width: 860px) {
  .container section.about-section img {
    display: none;
  }
}
.container section.about-section p {
  padding-left: 450px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1100px) {
  .container section.about-section p {
    padding-left: 220px;
  }
}
@media only screen and (max-width: 860px) {
  .container section.about-section p {
    padding-left: 0;
  }
}
.container section.abilities-section .abilities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}
.container section.abilities-section .abilities .ability {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  font-size: 1.2rem;
  margin-bottom: 80px;
}
@media only screen and (max-width: 860px) {
  .container section.abilities-section .abilities .ability {
    width: 100%;
  }
}
.container section.abilities-section .abilities .ability img {
  margin-right: 20px;
}
.container section.abilities-section .abilities .ability .ability-text {
  width: calc(100% - 160px);
}
.container section.abilities-section .abilities .ability .ability-text .ability-name {
  font-size: 1.7rem;
  color: #c25805;
}
.container section.abilities-section .abilities .ability .ability-text .divider {
  margin: 10px 0 10px;
}
.container section.abilities-section .abilities .ability .ability-lore {
  border-top: 1px solid #c25805;
  font-size: 1.05rem;
  padding-top: 10px;
}
.container section.abilities-section .abilities .ability .ability-lore span {
  font-weight: 700;
  color: #c25805;
}
.container section.contact-section {
  display: flex;
  flex-wrap: wrap;
}
.container section.contact-section h2 {
  width: 100%;
}
.container section.contact-section form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container section.contact-section form input,
.container section.contact-section form textarea {
  font-size: 1.2rem;
  color: #daad2e;
  background: rgba(51, 51, 51, 0.5);
  border: 1px solid #c25805;
  padding: 20px;
  resize: none;
  margin-bottom: 30px;
}
.container section.contact-section form textarea {
  font-size: 1.6rem;
}
.container section.contact-section form input[type=submit] {
  width: 250px;
  margin: auto;
  border-color: #346f2a;
  background-color: rgba(52, 111, 42, 0.5);
}
.container section.contact-section form input[type=submit]:hover {
  background-color: rgba(111, 42, 42, 0.5);
  border-color: #c25805;
}
.container section.contact-section footer {
  width: 100%;
  padding: 0 0 30px 0;
  align-self: flex-end;
  text-align: center;
}
.container section.contact-section footer .divider {
  margin-bottom: 30px;
}
